body {
    padding: 10px;
  }

  ul{
    list-style: none;
  }

  .menu-list{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .header {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .active {
    background-color: black;
    color: white;
    padding: 5px 10px;
  }
  
  .text-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  

  .post-card{
    height: 150;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }